
pyinstaller
watchfiles
pytest
pytest-asyncio
pyobjc-framework-Cocoa; sys_platform == 'darwin'
pyobjc-framework-WebKit; sys_platform == 'darwin'
PyGObject==3.54.5; sys_platform == 'linux'
comtypes; sys_platform == 'win32'
keyring
requests
    