name: Publish

on:
  release:
    types: [published]  # Only runs when you create a Release on GitHub

jobs:
  build-and-publish:
    name: Build & Publish
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./pytron-package 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build distribution
        run: python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: pytron-package/dist/